<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Given name:</strong>
  <%= @user.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @user.family_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @user.gym %>
</p>

<p>
  <strong>Message:</strong>
  <%= @user.message %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @user.goal %>
</p>

<p>
  <strong>Bfper:</strong>
  <%= @user.bfper %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
